/test/*.png
/test/*.mp4
/test/*.avi
/test/*.npy
/test/*.pyc

/ln_well/*/*

/eigens/*.png
/eigens/*.mp4
/eigens/*.avi
/eigens/*.npy
/eigens/*.pyc
/eigens/*.wav

/output/*.png
/output/*.mp4
/output/*.avi
/output/*.npy
/output/*.pyc

/__pycache__/*

.gitignore
